.scroll {
    height: 500px;
    overflow-x: scroll;
}

img {
    width: 75%;
}

.card {
    min-width: calc((100% / 4) - 30px) !important;
    margin-top: 40px;
    height: 400px;
    background-color: #2e3338;
    position: relative;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scroll:first-child {
    padding-left: 40px;
}

.scroll:last-child {
    padding-right: 40px;
}

.scroll::-webkit-scrollbar {
    width: 100%;
}

.scroll::-webkit-scrollbar-track {
    background: #2e3338;
    border-radius: 13px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #ef3b2d;
    border-radius: 13px;
}

.card:hover {
    scale: 1.06;
    box-shadow: 0px 1px 20px 1px #ef3b2d;
}

* {
    transition: 0.6s;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
